<fieldset>
  <div class="control-group">
    <label class="control-label">Pattern to match</label>
    <div class="controls">
      <input type="text" name="check[versionMatch]" value="<%= check.getPollerParam('versionMatch') || '' %>" class="span8" placeholder="Uses first match group from regular expression."/>
    </div>
  </div>
</fieldset>